@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', normal;
}

*::selection{
    color: #333;
    background-color: transparent;
    text-shadow: 1px 1px 1px #111;
}

body{
    background-color: #000;
}

div.data{
    display: block;
    font-size: 15px;
    padding: 0 0 0 10px;
}

div.title h1{
    font-size: 4.0em;
    text-align: center;
    padding: 5px;
    font-weight: 600;
}

header{
    float: left;
}

header p{
    min-height: 618px;
    width: 40%;

    font-size: 200%;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: justify;
}

.fig{
    text-align: center;
    text-decoration: underline;
    padding: 5px;
}

.float{
    float: left;
    padding: 5%;
    position: relative;
}

h2{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 2.5em;
}

section{
    float: left;
}

section p{
    width: 50%;
    min-height: 847px;

    font-size: 1.6em;
    text-align: center;
    letter-spacing: 2px;
}

footer{
    float: left;
}

footer p{
    width: 50%;
    min-height: 489.5px;

    font-size: 1.3em;
}
/*Responsividade */
@media all and (max-width: 1400px){
    header figure {
        width: 60%;
    }
}

@media all and (max-width: 1300px){
    div.data{
        padding: 5px 10px;
    }
    div.title h1{
        font-size: 3.0em;;
    }
    header figure{
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 100%;
        grid-template-areas: "img cap";
    }
    header figure img{
        width: 100%;
        grid-area: img;
    }
    header figure figcaption{
        width: 100%;
        height: 100%;
        grid-area: cap;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    header p{
        padding-left: 5%;
        width: 100%;
        min-height: 200px;
        font-size: 2.5em;
        text-align: center;
    }
    header p.float{
        padding: 0 10% 100px;
    }
    h2{
        font-size: 3.5em; 
    }
    section p{
        width: 100%;
        min-height: 200px;
    }
    section figure{
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 100%;
        grid-template-areas: "img2 cap2";
    }
    section figure img{
        width: 100%;
        grid-area: img2;
    }
    section figure figcaption{
        width: 100%;
        height: 100%;
        grid-area: cap2;
        padding: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer figure{
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 100%;
        grid-template-areas: "img3 cap3";
    }
    footer figure img{
        width: 100%;
        grid-area: img3;
    }
    footer figure figcaption{
        width: 100%;
        height: 100%;
        grid-area: cap3;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer p{
        width: 100%;
        min-height: 200px;
    }
    footer p.float{
        padding-top: 0;
    }
}
@media all and (max-width: 800px){
    div.title h1{
        font-size: 2.2em;
    }
    header p{
        font-size: 2.0em;
    }
    h2{
        font-size: 2.0em; 
    }
    section p{
        font-size: 1.2em;
    }
    footer p{
        font-size: 1.2em;
    }
    .fig{
        padding: 10px;
    }
}
@media all and (max-width: 650px){
    header figure, section figure, footer figure{
        display: block;
    }
}